<ons-toolbar>
    <ons-back-button></ons-back-button>
    <div class="center">我的购物券</div>
    <!-- <div class="right">
    <ons-toolbar-button>
      <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div> -->
</ons-toolbar>
<div class="banner">
    <img src="/assets/images/choujiang.png" alt="" class="logo">
</div>
<div class="line" style="height:.5rem"></div>
<ul style="padding:10px;background: #fff;">
    <!-- <li style="display:flex" class="discount-item">
        <div style="width:25%">
            <img src="/assets/images/5-count.png" alt="" class="img-responsive" style="max-width:100%;">
        </div>
        <div style="width:75%;padding:0 10px;">
            <div style="display:flex;justify-content:space-between;align-items:center;font-size:.8rem;">
                <div class="    dicount-info">
                    <h4 style="font-size:1rem;">商城任意商品5折券</h4>
                    <span> 有效期到2016.10.30</span>
                </div>
                <div>
                    <a class="get">立即兑换</a>
                </div>
            </div>
        </div>
    </li>
    <li style="display:flex" class="discount-item">
        <div style="width:25%">
            <img src="/assets/images/zhekou.png" alt="" class="img-responsive" style="max-width:100%;">
        </div>
        <div style="width:75%;padding:0 10px;">
            <div style="display:flex;justify-content:space-between;align-items:center;font-size:.8rem;">
                <div class="    dicount-info">
                    <h4 style="font-size:1rem;">商城任意商品折扣券</h4>
                    <span> 有效期到2016.10.30</span>
                </div>
                <div>
                    <a class="get">立即兑换</a>
                </div>
            </div>
        </div>
    </li>
    <li style="display:flex" class="discount-item">
        <div style="width:25%">
            <img src="/assets/images/88.png" alt="" class="img-responsive" style="max-width:100%;">
        </div>
        <div style="width:75%;padding:0 10px;">
            <div style="display:flex;justify-content:space-between;align-items:center;font-size:.8rem;">
                <div class="    dicount-info">
                    <h4 style="font-size:1rem;">微商城现金88元</h4>
                    <span> 有效期到2016.10.30</span>
                </div>
                <div>
                    <a class="get">立即兑换</a>
                </div>
            </div>
        </div>
    </li>
    <li style="display:flex" class="discount-item">
        <div style="width:25%">
            <img src="/assets/images/h5-template.png" alt="" class="img-responsive" style="max-width:100%;">
        </div>
        <div style="width:75%;padding:0 10px;">
            <div style="display:flex;justify-content:space-between;align-items:center;font-size:.8rem;">
                <div class="    dicount-info">
                    <h4 style="font-size:1rem;">微商城模板H5一套</h4>
                    <span> 有效期到2016.10.30</span>
                </div>
                <div>
                    <a class="get">立即兑换</a>
                </div>
            </div>
        </div>
    </li>
    <li style="display:flex" class="discount-item">
        <div style="width:25%">
            <img src="/assets/images/h5-custom.png" alt="" class="img-responsive" style="max-width:100%;">
        </div>
        <div style="width:75%;padding:0 10px;">
            <div style="display:flex;justify-content:space-between;align-items:center;font-size:.8rem;">
                <div class="    dicount-info">
                    <h4 style="font-size:1rem;">微商城定制H5一套</h4>
                    <span> 有效期到2016.10.30</span>
                </div>
                <div>
                    <a class="get">立即兑换</a>
                </div>
            </div>
        </div>
    </li> -->
    <li style="text-align: center;">敬请期待……</li>
</ul>