        .userAddress {
            padding: 0.4rem;
            padding-bottom: 0;
            background: #fff;
            padding: 1rem;
        }
        
        .add_address {
            font-size: 1rem;
            padding: 1rem;
            background: #fff;
            overflow: hidden;
            height: auto;
        }
        
        .userAddress li {
            border-bottom: 1px solid #ccc;
            padding: 0.5rem 0;
        }
        
        .userAddress li::after {
            clear: both;
        }
        
        .add_address img {
            width: 50%;
            float: left;
        }
        
        .order_num_box {}
        
        .order_num {
            padding: 1rem;
        }
        
        .userAddress li p {
            float: left;
        }
        
        .userAddress li p {
            font-size: 1rem;
            font-weight: 600;
            text-indent: 0.3rem;
        }
        
        .userAddress li span {
            float: right;
        }
        
        .clearfix:after {
            content: " ";
            display: block;
            height: 0;
            clear: both;
        }
        
        .clearfix {
            zoom: 1;
        }
        /* 模态框 */
        
        .cover {
            background: rgba(0, 0, 0, .5);
            position: fixed;
            /* z-index: 9999; */
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
        }
        
        .modall {
            background: #fff;
            border-radius: 20px;
            height: 70vh;
            width: 90vw;
            margin-top: 25vh;
            display: flex;
            flex-direction: column;
        }
        
        .modall>li {
            width: 100%;
            height: 3rem;
            border-bottom: 1px solid #eee;
            display: flex;
        }
        
        .modall>li>div {
            display: flex;
            align-items: center;
            height: 3rem;
        }
        
        .modall .span {
            display: flex;
            justify-content: center;
            width: auto;
            height: 100%;
            flex-shrink: 0;
            padding: 1rem;
        }
        
        .modall input {
            display: flex;
            align-items: center;
            width: 100%;
            height: 99%;
            border: none;
            border-bottom: 1px solid #eee;
        }
        
        .flex-center {
            justify-content: center;
        }
        
        .padding {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        
        h5 {
            font-weight: 600;
        }
        
        .between {
            justify-content: space-between !important;
        }
        
        .height {
            height: 5rem!important;
            align-items: flex-start!important;
        }
        
        .start {
            align-self: flex-start;
        }
        
        .border-none {
            border: none !important;
        }
        
        .width {
            width: 2rem;
        }
        
        .button {
            width: 12rem;
            height: 2rem !important;
            background: gray;
            color: #fff;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
        }
        
        .need {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0.5rem;
            padding-top: 1rem;
        }
        /* 结束 */
        /* 地址选择器 */
        /* 结束 */
        
        .text-center {
            text-align: center;
        }
        
        .cover-title {
            color: black;
            font-weight: 600;
            border-bottom: 1px solid gray;
            padding: .6rem;
        }
        
        .inline-form {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gray;
        }
        
        .inline-form .field {
            flex-shrink: 0;
            line-height: 2.5rem;
            padding: 5px 10px;
        }
        
        .inline-form input {
            border: none;
            padding: 5px;
            width: 60%;
        }
        
        .item {
            display: flex;
            justify-content: space-between;
            padding: 0px;
        }
        
        .order_num_box {
            padding-bottom: 0.2rem;
        }
        
        .order_num_box {
            padding-bottom: 1rem;
        }
        
        .order_num_box img {
            width: 45%;
            float: left;
        }
        
        .order_num .abs {
            width: 50%;
            margin-left: 1rem;
            float: right;
        }
        
        .order_num p {
            margin: 1rem 0;
            font-size: 1rem;
        }
        
        .pay_wx {
            height: auto;
            background: #fff;
            overflow: hidden;
            font-size: 0.25rem;
            text-indent: 0.25rem;
            padding: 0 1rem;
            line-height: 0.48rem;
            margin-top: 0.2rem;
            padding-top: 0.2rem;
        }
        
        .pay_wx img {
            width: 7%;
            float: left;
        }
        
        .add_shop_foot {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            background: #fff;
            overflow: hidden;
            font-size: 0.3rem;
            height: 3rem;
            line-height: 0.95rem;
        }
        
        .add_shop_foot2 a {
            float: right;
            height: 3rem;
            line-height: 3rem;
            font-size: 1rem;
        }
        
        .add_shop_foot2 label {
            height: 3rem;
        }
        
        .add_shop_foot p {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 3rem;
            margin: 0;
            line-height: 3rem;
            font-size: 1rem;
        }
        
        .allTicket {
            position: fixed;
            z-index: 66666;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, .5);
            height: 100vh;
        }
        
        .allTicket ul {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            background: #fff;
            margin: 0;
        }
        
        .allTicket ul li,
        .allTicket ul p {
            padding: 1rem;
            font-size: 1rem;
        }
        
        .allTicket ul input {
            width: 1rem;
            height: 1rem;
            float: right;
            border-radius: 50%;
        }
        
        .allTicket ul input.choosed {
            background: url(/assets/images/add_shop.png) no-repeat left center;
            background-size: 100%;
            border: none;
        }
        
        .allTicket ul p {
            text-align: center;
        }
        
        .allTicket .closed {
            padding: 0.5rem;
            background: #e93949;
            color: #fff;
            font-size: 1rem;
            text-align: center;
        }
        
        .allTicket li {
            padding: 1rem;
            font-size: 1rem;
            margin-top: 1rem;
            border-bottom: 1px solid #ccc;
            width: 95%;
            margin: 0 auto;
        }
        
        .pay_wx {
            padding: 0;
            padding-bottom: 3rem;
        }
        
        .add_shop_foot a {
            width: 30%;
        }
        
        .action-sheet-title {
            font-size: 20px;
        }
        
        .modall .span {
            margin: 0;
            padding: 0;
            line-height: 3rem;
            padding: 0 1rem;
        }