<div class="footer border-top-1px">
    <div class="footer-box" routerLink="/" routerLinkActive="active">
        <i class="iconfont">&#xe62e;</i>
        <span>首页</span>
    </div>
    <div class="footer-box" routerLink="/product-category" routerLinkActive="acitve">
        <i class="iconfont">&#xe66b;</i>
        <span>商品分类</span>
    </div>
    <div class="footer-box" routerLink="/shoping-cart" routerLinkAcitve="active">
        <i class="iconfont">&#xe602;</i>
        <span>购物车</span>
    </div>
    <div class="footer-box" routerLink="/person-center" routerLinkActive="active">
        <i class="iconfont">&#xe659;</i>
        <span>个人中心</span>
    </div>
</div>